[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solpay_smartcontract = "EVBgMcsQdMqHrm2KMscsPUKUsFAcbpJUkAjBSWHGwL8A"

[programs.devnet]
solpay_smartcontract = "EVBgMcsQdMqHrm2KMscsPUKUsFAcbpJUkAjBSWHGwL8A"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
